mark {
	padding: 2px 4px;
	font-size: 90%;
	color: #fff;
	background-color: rgb(80, 80, 80);
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 rgb(0 0 0 / 25%);
}

/* bullet list */
.role-list,
.skill-detail {
	width: 100%;
	margin-bottom: 2rem;
	line-height: 1.6;
}
.role-list-item,
.skill-detail-item {
	display: flex;
	margin: 0.5em 0;
}
.role-list-item:before,
.skill-detail-item:before {
	content: '▸';
	margin-right: 0.5em;
}

.skill-detail-item > a { 
    color: rgb(139, 65, 0);
}

/* content */
.content-list {
	margin-bottom: 2rem;
}
.content-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
}

.content-title {
	width: 100%;
	font-size: 1.8rem;
	border-bottom: 2px dashed #bfbfbf;
	padding-bottom: 0.5rem;
	margin-bottom: 2rem;
}

.my-photo {
	flex-shrink: 0;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 2rem;
	border: 1px solid #bfbfbf;
	border-radius: 50%;
	background-color: rgba(229, 181, 132, 255);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
}

@media (min-width: 720px) {
	.content-item {
		flex-direction: row;
	}
	.my-photo {
		margin-right: 3rem;
	}
}

/* work experience */

.company-info {
	flex-shrink: 0;
	width: 200px;
	height: 150px;
	margin: 0 auto;
	text-align: center;
}

.company-name {
	font-weight: 700;
	font-size: 1.6rem;
}

.company-name-english {
	margin-bottom: 0.5rem;
}

.company-position {
	font-weight: 600;
	margin-bottom: 1rem;
}

/* Skill & Knowledge */

.skill-info {
	flex-shrink: 0;
	width: 220px;
	height: 80px;
	margin: 0 auto;
	text-align: center;
}

.skill-name {
	font-weight: 700;
	font-size: 1.6rem;
}

.skill-name-english {
	margin-bottom: 0.5rem;
}

/* card list */
.card-list {
	padding-bottom: 2rem;
}

.card-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}
.card-image {
	height: 0;
	padding-bottom: 60%;
	background-color: lightgray;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.card-image img {
	display: none;
}

.card-desc {
	flex: 1 1 auto;
	padding: 1em;
	background: rgb(255, 255, 255);
	border-top: 1px solid #555;
}

.card-desc a {
	text-decoration: none;
	color: #555;
}

@media (min-width: 600px) {
	.card-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -1rem;
	}
	.card-item {
		width: 50%;
		padding: 0 1rem;
	}
}

@media (min-width: 1200px) {
	.card-item {
		width: 33.33333%;
	}
}
